<div class="constrain">
  <div class="header__row">
    <a href="#" class="header__menu-button">
      <div class="bar"></div>
    </a>
    <a href="#" class="header__logo"></a>
  </div>
  <nav class="nav--main-menu">
    <a href="#">Home</a>
    <a href="#">Beers</a>
    <a href="#">Events</a>
    <a href="#">Contact</a>
  </nav>
</div>
